# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=image-template

# Make this the same as your github username/organisation
REPO_ORGANIZATION="tmoertel"

IMAGE_DESC="TGM Customized Bootc Image"
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://blog.moertel.com/android-chrome-192x192.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
